<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
  <body>
    <div class="imagenes">
        <a href="/inicio"><img class="bocadillo" src="assets\Imagenes\bocadillo.gif"><img class="kubone" src="assets\Imagenes\notfound.gif"></a>
        <img class="cementerio" src="assets\Imagenes\cementerio.png">
    </div>

</body>


</html>

