<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="cuerpoCompleto">
      <div class="cabecera">
          <img class="logo" src="assets\Imagenes\logo.png" alt="Logo de pokemon">
      </div>
      <div class="cuerpo">
          <h2 class="tip">{{tipRandom}}</h2>
          <div class="imagenIntro">
            <img class="logo" src="assets\Imagenes\gif_intro.gif" alt="imagen de intro">
          </div>
          <div class="empezar">
            <img class="{{claselenta}}" (click)="start()" src="https://fontmeme.com/permalink/190522/5d000fa4cfbbba586ac76f2fedf83584.png">

          </div>
    </div>
  </div>
aaaasdasd
</body>
</html>
